<h1>Account Settings</h1>

<form method="POST">
    Username: <input type="text" value="{{ username }}" name="username">
    <br>
    Email: <input type="text" value="{{ email }}" name="email">
    <br><br>
    <button>Save My Changes</button>
</form>